<main class="pets-list">
  <h1 class="pets-list__title">Olá! Veja os amigos disponíveis para adoção!</h1>
  <section class="pets-list__container">
    <div class="pets-list__list">
      <div *ngFor="let pet of pets">
        <app-pet
        [img]="pet.image"
        [alt]="pet.imgDescription"
        [name]="pet.name"
        [age]="pet.age"
        [size]="pet.port"
        [characterists]="pet.characteristics"
        [adress]="pet.adress"
        ></app-pet>
      </div>
    </div>
  </section>
</main>
