@import '../../../assets//scss/base';

.loader__container {

  background-color: $vermelho-principal;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  border-radius: 6px;
  z-index: 10;

  .loader {
    width: 30px;
    height: 30px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

