@import '../../../assets/scss/base';

@media screen and (min-width: 0){

  .signup {
    text-align: center;
    background: url(../../../assets/img/vetor2-login.png) no-repeat left 0 top 300px;
    background-size: 84.03px 415px;

    &__logo {
      padding: 40px 0;
      width: 142.54px;
    }

    &__titulo {
      margin: 0 auto;
      width: 312px;
      font-weight: 400;
      line-height: 21px;
      font-size: 16px;
      color: $azul-principal;
      padding: 16px 0 25px;
    }

    &__link-login {
      color: $azul-principal;
      padding-bottom: 15px;

      & a {
        color: $vermelho-principal;
        text-decoration: none;
      }

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &__input {
      width: 90%;
      height: 40px;
      padding-left: 10px;

      &:focus {
        outline: 0;
      }

      &.ng-invalid.ng-touched {
        border: 2px solid $vermelho-principal;
      }

      &-password {
        position: relative;

        & input:not(:placeholder-shown) + .material-icons {
          display: block;
        }
      }

    }

    .material-icons {
      display: none;
      position: absolute;
      left: 85%;
      top: 57px;

      &:hover {
        cursor: pointer;
      }
    }

    &__label {
      font-weight: 400;
      font-size: 16px;
      padding: 15px 0 10px 0;
    }

    &__btn {
      width: 148px;
      padding: 10px 0;
      margin: 40px auto 100px;
    }
  }
}

@media screen and (min-width: 768px){

  .signup {

    background: url(../../../assets/img/vetor2.svg) no-repeat right 0 top 145px;

    &__logo {
      padding: 90px 0 40px;
      width: 251.59px;
    }

    &__titulo {
      font-size: 18px;
      padding: 0 0 40px;
      width: 525px;
      line-height: 26px;
    }

    &__label {
      font-size: 18px;
      padding: 24px 0 10px;
    }

    &__input {
      width: 60%;

      &-password:last-of-type {
        position: relative;
        margin-bottom: 40px;
      }
    }

    .material-icons {
      left: 75%;
      top: 67px;
    }

    &__btn {
      width: 164px;
    }
  }
}

@media screen and (min-width: 1280px){

  .signup {

    &__logo {
      padding: 0 0 64px;
      width: 251.59px;
    }

    &__titulo {
      padding: 0 0 72px;
    }

    &__input {
      width: 40%;

      &-password {

        & input{
          width: 30%;
        }
      }
    }

    .material-icons {
      left: 62%;
      top: 67px;
    }
  }
}
