@import 'src/assets/scss/_base.scss';

@media screen and (min-width: 0) {
  .header {

    &__logo {
      display: none;
    }

    &__menu {
      position: relative;
      display: flex;
      padding: 48px 32px;
      align-items: center;
      justify-content: space-between;
    }

    &__icone-msg {
      margin-left: 50px;
      cursor: pointer;
    }

    &__icone-profile {
      border-radius: 25px;
      cursor: pointer;
    }

    .menu__profile {
      position: absolute;
      background-color: $vermelho-principal;
      border: 2px solid #36d6ad;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      padding: 18px;
      right: 10px;
      gap: 5px;


      &-profile, &-logOut {

        display: flex;
        gap: 8px;
        font-size: 18px;
        color: $branco-principal;
        text-decoration: none;

        & span {
          color: $branco-principal;
          font-size: 18px;
          align-self: center;
        }
      }
    }

    .login__btn {
      font-size: 16px;
      padding: 8px 10px;
      border-radius: 30px;
      color: $vermelho-principal;
      background-color: $branco-principal;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {

    &__logo {
      display: flex;
      width: 128px;
      height: 30px;
      margin-right: 50px;
    }

    &__menu {
      justify-content: space-between;
      align-items: center;
      padding: 64px 50px;
    }

    &__logo-box {
      display: flex;
      align-items: end;
    }

    .menu__profile {
      right: 15px;
    }

    .login__btn {
      color: $branco-principal;
      background-color: $vermelho-principal;
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {

    &__menu {
      padding: 64px 161.17px 37px;
    }

    .menu__profile {
      right: 120px;

      &-profile, &-logOut {
        cursor: pointer;
      }
    }

    .login__btn {
      padding: 10px 16px;
    }
  }
}
