@media screen and (min-width: 0) {
  .header {

    &__logo {
      display: none;
    }

    &__menu {
      position: relative;
      display: flex;
      padding: 48px;
      align-items: center;
      justify-content: space-between;
    }

    &__icone-msg {
      margin-left: 50px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {

    &__logo {
      display: flex;
      width: 128px;
      height: 30px;
      margin-right: 50px;
    }

    &__menu {
      justify-content: space-between;
      align-items: center;
      padding: 64px 50px;
    }

    &__logo-box {
      display: flex;
      align-items: end;
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {

    &__menu {
      padding: 64px 161.17px 37px;
    }
  }
}
