<header class="header">
  <div class="header__menu">
    <div class="header__logo-box">
      <img class="header__logo" src="assets/img/Logo-inicio.svg" alt="Logo da adopet">
      <a class="header__icone-home" routerLink="home">
        <img src="assets/img/Casa.png" alt="icone de casa">
      </a>
      <a class="header__icone-msg" (click)="goMessage()">
        <img src="assets/img/Mensagens.svg" alt="icone de carta">
      </a>
    </div>
    <div *ngIf="showUser; else login">
      <div>
        <img class="header__icone-profile" (click)="showMenu()" [src]="userImage" alt="foto de perfil do usuario" width="40px" height="40px">
        <div class="menu__profile" *ngIf="menu">
          <a class="menu__profile-profile" routerLink="pets/profile">Perfil <span class="material-icons">account_circle</span></a>
          <a class="menu__profile-logOut" (click)="logOut()">Logout <span class="material-icons">logout</span></a>
        </div>
      </div>
    </div>
    <ng-template #login>
      <a class="btn login__btn" *ngIf="showLogin" routerLink="home/signin">Login</a>
    </ng-template>
  </div>
</header>
