@import 'src/assets/scss/_base.scss';

@media screen and (min-width: 0) {
  .header {

    &__logo {
      display: none;
    }

    &__menu {
      position: relative;
      display: flex;
      padding: 48px;
      align-items: center;
      justify-content: space-between;
    }

    &__icone-msg {
      margin-left: 50px;
    }

    &__icone-profile {
      border-radius: 25px;
    }

    .btn__logout {
      position: absolute;
      top: 85px;
      right: 35px;
      display: flex;
      gap: 8px;
      font-size: 18px;
      color: $vermelho-principal;
      border-bottom: 1px solid $vermelho-principal;

    }

    .icon-logout {
      color: $vermelho-principal;
      font-size: 18px;
      align-self: center;

    }
  }
}

@media screen and (min-width: 768px) {
  .header {

    &__logo {
      display: flex;
      width: 128px;
      height: 30px;
      margin-right: 50px;
    }

    &__menu {
      justify-content: space-between;
      align-items: center;
      padding: 64px 50px;
    }

    &__logo-box {
      display: flex;
      align-items: end;
    }

    .btn__logout {
      top: 100px;
      right: 33px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {

    &__menu {
      padding: 64px 161.17px 37px;
    }

    .btn__logout {
      right: 145px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
