<div class="card">
  <img [src]="img" [alt]="alt" class="card__img">
      <div class="card__content">
          <h4 class="card__content-name">{{ name }}</h4>
          <p class="card__content-age">{{ age }}</p>
          <p class="card__content-size">{{ size }}</p>
          <p class="card__content-feature">{{ characterists }}</p>
          <address class="card__content-adress">
              {{ adress }}
              <a (click)="sendMessage()" class="card__content-link"><img src="assets/img/ícone-contato.png" alt="Ícone de mensagem"><span>Falar com o responsável</span></a>
          </address>
      </div>
</div>
