@import '../../../assets/scss/base';

@media screen and (min-width: 0) {

  .signin {
    text-align: center;
    background: url(../../../assets/img/vetor2-login.png) no-repeat left 0 top 217px;
    background-size: 84.03px 415px;
    height: 120vh;

    &__logo {
      padding: 40px 0;
      width: 142.54px;
    }

    &__title {
      font-weight: 400;
      line-height: 21px;
      font-size: 16px;
      color: $azul-principal;
      padding: 16px 0 0;
    }

    &__label {
      font-weight: 400;
      font-size: 16px;
      padding: 15px 0 10px 0;
    }

    &__input {
      width: 90%;
      height: 40px;
      padding-left: 10px;

      &:focus {
        outline: 0;
      }

      &.ng-invalid.ng-touched {
        border: 2px solid $vermelho-principal;
      }
    }

    &__form-input-password {
      position: relative;

      & input:not(:placeholder-shown) + .material-icons {
        display: block;
      }
    }

    .material-icons {
      display: none;
      position: absolute;
      left: 85%;
      top: 57px;

      &:hover {
        cursor: pointer;
      }
    }


    &__btn-signup {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-decoration: none;
      color: $azul-principal;
      padding: 20px 0 45px;
      display: inline-block;

      a {
        color: $vermelho-principal;
        text-decoration: none;
      }


      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &__btn{
      width: 148px;
      padding: 10px 0;
      margin: 20px auto;
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {

  .signin {

    background: url(../../../assets/img/vetor2.svg) no-repeat right 0 top 120px;


    &__logo {
      padding: 90px 0 40px;
      width: 251.59px;
    }

    &__title {
      font-size: 18px;
    }

    &__label {
      font-size: 18px;
      padding: 24px 0 10px;
    }

    &__input {
      width: 60%;
    }

    .material-icons {
      position: absolute;
      left: 75%;
      top: 67px;
    }

    &__btn{
      width: 164px;
    }
  }
}

@media screen and (min-width: 1280px) {

  .signin {

    &__logo {
      padding: 0 0 64px;
      width: 251.59px;
    }

    &__input {
      width: 40%;
    }

    &__form-input-password {

      & input{
        width: 30%;
      }
    }

    .material-icons {
      left: 62%;
      top: 67px;
    }
  }
}


