@import '../../../assets/scss/base';

@media screen and (min-width: 0) {

  .signin {
    text-align: center;
    background: url(../../../assets/img/vetor2-login.png) no-repeat left 0 top 217px;
    background-size: 84.03px 415px;


    &__logo {
      padding: 40px 0;
      width: 142.54px;
    }

    &__titulo {
      font-weight: 400;
      line-height: 21px;
      font-size: 16px;
      color: $azul-principal;
      padding: 16px 0 45px 0;
    }

    &__label {
      font-weight: 400;
      font-size: 16px;
      padding: 15px 0 10px 0;
    }

    &__input {
      width: 90%;
      height: 40px;
      padding-left: 10px;
    }

    &__form-input-password {
      position: relative;
    }

    .material-icons {
      position: absolute;
      left: 85%;
      top: 57px;
    }

    &__recuperar-senha {
      padding: 20px 0;
      color: #FC7071;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      border: none;
      background-color: #FFFFFF;
      display: block;
      margin: 0 auto;
    }

    &__btn{
      width: 148px;
      padding: 10px 0;
      margin: 0 auto 200px;
    }
  }
}

@media screen and (min-width: 768px) {

  .signin {

    background: url(../../../assets/img/vetor2.svg) no-repeat right 0 top 145px;

    &__logo {
      padding: 90px 0 40px;
      width: 251.59px;
    }

    &__titulo {
      font-size: 18px;
      padding: 0 0 30px;
    }

    &__label {
      font-size: 18px;
      padding: 24px 0 10px;
    }

    &__input {
      width: 60%;
    }

    .material-icons {
      position: absolute;
      left: 75%;
      top: 67px;
    }

    &__recuperar-senha {
      padding: 35px 0;
      line-height: 37px;
    }

    &__btn{
      width: 164px;
      margin: 0 auto 302px;
    }
  }
}


