@import '../../../assets/scss/base';

@media screen and (min-width: 0) {
  .message {

    &__title {
      margin: 0 auto;
      padding: 48px 0 24px;
      width: 226px;
      color: $azul-principal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }

    &__form-section {
      margin: 0 auto 24px;
      width: 312px;
      background: #F7F7F7;
      border-radius: 10px;
      box-sizing: border-box;
    }

    &__form {
      padding: 17px 16px;
      text-align: center;
    }

    &__label {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: $azul-principal;
      padding: 15px 0 10px;
    }

    &__input {
      box-sizing: border-box;
      width: 280px;
      height: 48px;
      background: $branco-principal;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      border: 1px solid $branco-principal;
      padding-left: 10px;

      &::placeholder {
        text-align: initial;
        color: $cinza-claro;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
    }

    &__textarea {
      box-sizing: border-box;
      width: 280px;
      height: 172px;
      background: $branco-principal;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      border: 1px solid $branco-principal;
      overflow: hidden;
      padding: 12px 0 0 16px;

      &::placeholder {
        text-align: initial;
      }
    }

    &__btn {
      width: 148px;
      padding: 10px 0;
      margin: 40px 0 24px;
    }
  }
}

@media screen and (min-width: 768px) {
  .message {

    &__title {
      padding: 120px 0 26px;
      width: 524px;
      font-size: 18px;
      line-height: 26px;
    }

    &__form-section {
      margin: 0 auto 75px;
      width: 524px;
    }

    &__form {
      padding: 16px 16px 32px;
    }

    &__label {
      padding: 16px 0 8px;
    }

    &__input {
      width: 492px;
    }

    &__textarea {
      width: 492px;
    }

    &__btn {
      width: 164px;
    }
  }
}
