@import '../assets/scss/base';

@media screen and (min-width: 0) {
  .home {
    background: url(../assets/img/vetor1.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 352.11px;
    background-color: $azul-principal
  }

  .signin {
    background: url(../assets/img/patas.svg), url(../assets/img/vetor1.svg);
    background-repeat: no-repeat;
    background-position: top right, top left;
    background-color: $branco-principal;
  }

  .pets {
    background: url(../assets/img/vetor1.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 352.11px;
    background-color: $branco-principal;
  }
}

@media screen and (min-width: 768px) {
  .home {
    background-size: 560px;
  }

  .signin {
    background-size: 224px, 560px;
  }

  .pets {
    background-size: 560px;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    background-size: 560.97px;
  }

  .signin {
    background: url(../assets/img/patas-desktop.svg), url(../assets/img/vetor1.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-position: top right, top left;
    background-size: 294px, 560.97px;
  }

  .pets {
    background-size: 560.97px;
  }
}
