<main class="signin">
  <div class="signin__container-logo">
      <img src="assets/img/logo-azul.svg" alt="Logo da adopet" class="signin__logo">
  </div>
  <h3 class="signin__titulo">Já tem conta? Faça seu login:</h3>
  <form class="signin__form">
          <div>
              <label class="signin__label label" for="email">Email</label>
              <input class="signin__input input" type="email" placeholder="Insira seu email" required>
          </div>
          <div>
              <label class="signin__label label" for="senha">Senha</label>
              <input class="signin__input input" type="password" placeholder="Insira sua senha" required>
          </div>
          <button class="signin__recuperar-senha">Esqueci minha senha</button>
          <button type="submit" class="btn signin__btn">Entrar</button>
  </form>
</main>
