<main class="signup">
  <div class="signup__container-logo">
      <img src="assets/img/logo-azul.svg" alt="Logo da adopet" class="signup__logo">
  </div>
  <h3 class="signup__titulo">Ainda não tem cadastro?<br>
      Então, antes de buscar seu melhor amigo, precisamos de alguns dados:</h3>
  <form  class="signup__form">
      <div>
          <label class="signup__label label" for="email">Email</label>
          <input class="signup__input input" type="email" placeholder="Escolha seu melhor email" required>
      </div>
      <div>
          <label class="signup__label label" for="name">Nome</label>
          <input class="signup__input input" type="text" placeholder="Digite seu nome completo" required>
      </div>
      <div>
          <label class="signup__label label" for="senha">Senha</label>
          <input class="signup__input input" type="password" placeholder="Crie uma senha" required>
      </div>
      <div>
          <label class="signup__label label" for="senha">Confirme sua senha</label>
          <input class="signup__input input" type="password" placeholder="Repita a senha criada acima" required>
      </div>
     <button type="submit" class="signup__btn btn">Cadastrar</button>
  </form>
</main>
