@import '../../assets/scss/base';

@media screen and (min-width: 0) {

  .home {
    text-align: center;
    color: $branco-principal;
    background: url(../../assets/img/vetor2.svg) no-repeat right 0 top 179px;
    background-size: 84.03px 415px;

    &__loader-container {

      position: fixed;
      background-color: rgba(0, 0, 0, 0.32);
      height: 100%;
      width: 100%;
      top: 0;
      z-index: 10;





      // .loader {
      //   font-size: 10px;
      //   width: 1em;
      //   height: 1em;
      //   border-radius: 50%;
      //   position: absolute;
      //   text-indent: -9999em;
      //   animation: mulShdSpin 1.1s infinite ease;
      //   top: 50vh;
      //   transform: translateZ(0);
      // }
      // @keyframes mulShdSpin {
      //   0%,
      //   100% {
      //     box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
      //   }
      //   12.5% {
      //     box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
      //   }
      //   25% {
      //     box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
      //   }
      //   37.5% {
      //     box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
      //   }
      //   50% {
      //     box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
      //   }
      //   62.5% {
      //     box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
      //   }
      //   75% {
      //     box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
      //   }
      //   87.5% {
      //     box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
      //   }
      // }
    }




    &__logo {
      padding: 48px 0 40px;
      width: 186.67px;
    }

    &__title {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 500;
      font-size: 26px;
      text-align: center;
    }

    &__subtitle {
      width: 278px;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 0 auto;
      padding: 30px;
    }

    &__container-btn {
      display: flex;
      flex-direction: column;
    }

    &__btn {
      margin: 0 auto;
      padding: 12px 0;
      width: 180px;
      margin-bottom: 18px;
    }

    &__img {
      position: relative;
      top: 24px;
    }
  }

}

@media screen and (min-width: 768px) {
  .home {
    background-size: 134px 664px;

    &__logo {
      padding: 151px 0 40px;
      width: 251.59px;
    }

    &__title {
      font-size: 28px;
    }

    &__subtitle {
      width: 344px;
      font-size: 18px;
      line-height: 26px;
      padding: 24px 0 38px;
    }

    &__btn {
      padding: 16px 0;
      width: 344px;
      font-size: 18px;
    }

    &__img {
      width: 338.28px;
      height: 422px;
      top: 37px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .home {

    &__logo {
      padding: 0 0 40px;
      width: 260px;
    }

    &__title {
      line-height: 48px;
    }

    &__subtitle {
      width: 488px;
      padding: 24px 0 32px;
    }

    &__btn {
      width: 362px;
    }

    &__img {
      width: 346px;
      height: 431px;
    }
  }
}

