.body {
  font-family: 'Poppins', sans-serif;
  background: url(../../assets/img/vetor1.svg), url(../../assets/img/vetor2.svg);
  background-repeat: no-repeat;
  background-position: top left, right;
  background-size: 352.11px, 84.03px;
  background-color:  #3772FF;
}

.home {
  text-align: center;
  color: #FFFFFF;

  &__logo {
    padding: 48px 0 40px;
    width: 186.67px;
    // height: 46px;
  }

  &__title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 26px;
    text-align: center;
  }

  &__subtitle {
    width: 278px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 auto;
    padding: 30px;
  }

  &__container-btn {
    display: flex;
    flex-direction: column;
  }

  .btn {
    margin: 0 auto;
    padding: 12px 0;
    width: 180px;
    margin-bottom: 18px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    background-color: #FC7071;
    border-radius: 6px;
    border: solid 1px #FC7071;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.25));
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__img {
    position: relative;
    top: 24px;
  }
}
